<html>
<head>
    {% load static %}
    <title>Regional Text</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  padding : 5px 15px;
}

</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'extract_pixlab' %}" style="position: relative;left: 80px;">Regional Text</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
        <form class="form-inline" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="pdf_file" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
          </form>
        <div class="row">
          <div class="col-md-6">
              <a href="media/{{filename}}" target="_blank">Open PDF</a>
              <img id="img" src="media/converted_img.png" style="width: 96%;height: 100%;">

          </div>
          <div class="col-md-6">
                <div id="exTab3">
                <ul  class="nav nav-pills">
                    <li class="active">
                <a  href="#1b" data-toggle="tab">Raw text</a>
                    </li>
                    <li><a href="#2b" data-toggle="tab">Forms</a>
                    </li>
                </ul>
                    <div class="tab-content clearfix">
                      <div class="tab-pane active" id="1b">
                          <div><pre>{{text}}</pre></div>
                        </div>
                        <div class="tab-pane" id="2b">
                            <div>{{mr_date}}</div>
                            <div>{{village}}</div>
                            <div>{{city}}</div>
                            <div>{{taluka}}</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>